/* wrapper */

.wrapper {
  margin: clamp(3rem, 12vh, 12rem) auto;
  max-width: min(90vw, 420px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(4px, 1.5vw, 8px);

  text-align: center;
}


/* icon */

.icon {
  font-size: var(--font-xl);
  opacity: var(--opacitychange);
  margin-bottom: 6px;
}


/* title */

.title {
  font-size: var(--font-lg);
  font-weight: 800;
  color: var(--fg);
  line-height: 1.4;
}


/* description */

.description {
  font-size: var(--font-md);
  color: var(--fg);
  line-height: 1.4;
}