.nav {
  height: var(--navheight);
  border-bottom: 2px solid var(--grid);
  background: var(--bg);
  color: var(--fg);
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.right {
  flex: 1;
  display: flex;
  align-items: right;
  gap: 1rem;
}

.middle {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.middle a {
  font-size: 20px;
  text-decoration: none;
  color: var(--fg);
  font-weight: 600;
  opacity: 0.7;
}

.middle a:hover {
  color: var(--accent);
}

.active {
  opacity: 1;
  color: var(--accent) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
}

.right {
  justify-content: flex-end;
  gap: 1.5rem;
}

.authButtons {
  display: flex;
  gap: 1rem;
}

.loginBtn, .registerBtn {
  padding: 0.5rem 0; 
  min-width: 120px;  
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;

  border: 2px solid var(--grid);
  background-color: var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: all 0.2s ease;
  background-color: transparent; 
  color: var(--fg);
  border-color: var(--fg);

}

.registerBtn {
  background: var(--fg);
  color: var(--bg);
}



.userProfile {
  padding: 0.5rem 0; 
  min-width: 150px;  
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.userName {
  font-weight: 600; 
  font-size: 0.95rem;
  color: var(--fg);
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: background 0.2s ease;
  cursor: default;
}

.userName:hover, 
.loginBtn:hover, 
.registerBtn:hover {
  background: var(--contrast); 
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
}

.registerBtn:hover {
  background: var(--bg); 
}

