/*  Backdrop*/

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Modal Container */

.modal {
  width: 100%;
  max-width: 420px;
  max-height: calc(100vh - 2rem);
  margin: 0 var(--space-md);
  background: var(--bg);
  border-radius: 12px;
  padding: var(--space-md);
  gap: var(--space-xs);

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  animation: pop var(--anim-slow) var(--ease-out) forwards;
}


/* Form Inputs*/

.modal input {
  font-family: var(--font-title);
  font-size: var(--font-sm);
  min-height: 30px;
  padding: var(--space-2xs) var(--space-xs);
}

.modal textarea {
  font-family: var(--font-main);
  font-size: var(--font-sm);
  padding: var(--space-2xs) var(--space-xs);
  resize: none;
  overflow-y: auto;

  min-height: 100px;
  max-height: 200px;
}


/*  Counter*/

.counter {
  display: block;
  margin-bottom: 8px;

  text-align: right;
  font-size: var(--font-xs);
  color: var(--muted);
}


/* Actions Layout*/

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


/* Buttons */

.buttons {
  min-width: 120px;
  padding: var(--space-xs) var(--space-sm);

  font-size: var(--font-sm);
  border: solid 2px;
  border-radius: 6px;
  outline: none;

  transition: transform var(--anim-fast) var(--ease-standard),
              border-color var(--anim-fast) var(--ease-standard),
              opacity var(--anim-fast) var(--ease-standard);
}

.primary {
  background: var(--fg);
  color: var(--bg);
  border-color: var(--fg);
}

.ghost {
  background: var(--bg);
  color: var(--fg);
  border-color: var(--fg);
}

.buttons:not(:disabled):hover {
  background-color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-2px);
  opacity: var(--opacitychange);
}

.buttons:disabled {
  opacity: var(--opacitychange);
  cursor: not-allowed;
  transform: none;
}


/* Feedback Animations*/

.shake {
  animation: shake .3s;
}


/* Keyframes*/

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

@keyframes pop {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}