.message {
  position: relative;
  padding: var(--space-xs) var(--space-sm);
  border-radius: 10px;
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
  border: 2px solid;
  color: var(--fg);
  opacity: 1;
}

.error {
  background: var(--negativeaccent);
  border-color: var(--negativeaccent);
}

.success {
  background: var(--accent);
  border-color: var(--accent);
  
}

.info {
  background: var(--bg);
  border-color: var(--fg);
 
  
}

.close {
  background: none;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
}