.message {
  position: relative;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border: 2px solid var(--fg);
  color: var(--fg);
  opacity: 1;
}

.error {
  background: var(--negativeaccent);
}

.success {
  background: var(--accent);
  
}

.info {
  background: var(--bg);
 
  
}

.close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
}