.main {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;    
  background: var(--bg);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 16rem; 
  z-index: 10;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.softwareName {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  font-family: var(--font-title);
}

.description {
  font-size: 1.2rem;
  color: var(--fg);
  max-width: 600px;
  font-style: italic;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.btn {
  display: flex;       
  align-items: center;
  justify-content: center; 
  min-width: 180px;
  min-height: 60px;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.25s ease; 
}

.btn.primary {
  background: var(--fg);
  color: var(--bg);
  border: 3px solid var(--bg);
}

.btn.primary:hover {
  transform: translateY(-1px);
  border-color: var(--accent);
}

.btn.ghost {
  background: var(--bg);
  color: var(--fg);
  border: 3px solid var(--fg);
}

.btn.ghost:hover {
  transform: translateY(-1px);
  border-color: var(--accent);
}


.greySection {
  flex-grow: 1;              
  background-color: var(--contrast); 
  width: 100%;
}