.wrapper {
  max-width: 1200px;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin: var(--space-lg) auto;

  padding: var(--space-xs) var(--space-md);
  padding-inline: 1rem;
  border-radius: 999px;

  background: var(--bg);
  border: 1px solid var(--fg);

  transition: border-color var(--anim-fast) var(--ease-standard), box-shadow var(--anim-fast) var(--ease-standard),;
}

.wrapper:focus-within {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(100, 100, 255, 0.15);
}

.wrapper:focus-within .icon {
  transform: scale(1.2);
}

.icon {
  font-size: var(--font-md);
  display: flex;
  opacity: var(--opacitychange);
  align-items: center;
  
  transition: transform var(--anim-fast) var(--ease-standard);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.2;
  color: var(--fg);
  font-size: var(--font-sm);
  
}

.input::placeholder {
  color: var(--muted);
}


@media (max-width: 768px) {

  .input {
    font-size: var(--font-sm);
  }
  .wrapper {
    width: calc(90% - 2rem);
  }
  .icon {
    font-size: var(--font-sm);
  }

  
}

