/* wrapper */

.wrapper {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: var(--space-lg) auto;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  padding: var(--space-xs) var(--space-md);
  padding-inline: 1rem;

  border-radius: 999px;
  background: var(--bg);
  border: 1px solid var(--fg);

  transition:
    border-color var(--anim-fast) var(--ease-standard),
    box-shadow var(--anim-fast) var(--ease-standard),;
}


/* focus within */

.wrapper:focus-within {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(100, 100, 255, 0.15);
}

.wrapper:focus-within .icon {
  transform: scale(1.2);
}


/* icon */

.icon {
  display: flex;
  align-items: center;

  font-size: var(--font-md);
  opacity: var(--opacitychange);

  transition: transform var(--anim-fast) var(--ease-standard);
}


/* input */

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  line-height: 1.2;
  font-size: var(--font-sm);
  color: var(--fg);
}

.input::placeholder {
  color: var(--muted);
}


/* responsive */

@media (max-width: 768px) {

  .wrapper {
    width: calc(90% - 2rem);
  }

  .input {
    font-size: var(--font-sm);
  }

  .icon {
    font-size: var(--font-sm);
  }
}
