/* container */

.container {
  --logo-size: clamp(220px, 50vw, 420px);

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--logo-size);
  height: var(--logo-size);

  cursor: pointer;
  border-radius: 50%;
  border: calc(var(--logo-size) * 0.03) dashed var(--fg);
  background: transparent;

  transition: border-color var(--anim-normal) var(--ease-standard);
}




/* logo icon */

.logoIcon {
  width: calc(var(--logo-size) * 0.77);
  height: calc(var(--logo-size) * 0.77);

  background-color: var(--fg);

  -webkit-mask-image: url('/SquaredLogo.svg');
  mask-image: url('/SquaredLogo.svg');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;

  transition: all var(--anim-normal) var(--ease-standard);
}


/* responsive */

@media (max-width: 360px) {
  .container {
    --logo-size: 160px;
  }
}
