:root {
  --bg: #eeeeee;
  --fg: #222222;
  --accent: #00aa00;
  --grid: #4a4a4a;
  --contrast: #d1d1d1;
  --negativeaccent: #d40000;
  

  /* each css.module can access font variables loaded in the server */
  --font-main: var(--font-sans); 
  --font-title: var(--font-serif);

  --navheight: 64px;
  --themeheight: 48px;
}

html.dark {
  --bg: #222222;
  --fg: #eeeeee;
  --grid: #9e9e9e;
  --accent: #37ff00;
   --contrast: #353535;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: none;
}

main {
  flex : 1;
}


/* Base case */
p, span, div, li, input, button {
  font-family: var(--font-main);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

select {
  -webkit-appearance: none;  
  -moz-appearance: none;     
  appearance: none;           
  
  outline: none;             
  box-shadow: none;         
}


select:focus {
  outline: none;
  box-shadow: none;
}