:root {
  --bg: #eeeeee;
  --fg: #121212;
  --accent: #009c00;
  --grid: #4a4a4a;
  --contrast: #e2e2e2
  ;

  /* each css.module can access font variables loaded in the server */
  --font-main: var(--font-sans); 
  --font-title: var(--font-serif);

  --navheight: 64px;
  --themeheight: 48px;


}

.dark {
  --bg: #121212;
  --fg: #eeeeee;
  --grid: #9e9e9e;
  --accent: #37ff00;

   
}

#GlobalReset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;

  min-height: 100vh;
  width: 100%;
}

main {
  flex : 1
}


/* Base case */
p, span, div, li, input, button {
  font-family: var(--font-main);
}

h1, h2, h3 {
  font-family: var(--font-title);
}