/* Page layout */

.canvasPage {
  width: 100%;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* canvas wrapper */

.reactFlowWrapper {
  width: 95%;
  align-self: center;
  height: 75vh;
  background: var(--bg);

  position: relative; 

  border: 1px solid var(--contrast);
  border-radius: 6px;
  margin: var(--space-sm) 0;

  overflow: hidden;
}

/* Toolbar */

.topRightToolbar {
  position: absolute;

  top: calc(12px + env(safe-area-inset-top));
  right: calc(12px + env(safe-area-inset-right));

  display: flex;
  flex-direction: column;
  padding: var(--space-xs);

  z-index: 20;
}

/* React flow built in controls */

:global(.react-flow__controls) {
  position: absolute;
  left: 12px;
  bottom: 12px;

  background: var(--contrast);
  border: 2px solid var(--contrast);

  border-radius: 12px;
}

:global(.react-flow__controls-button) {
  width: clamp(28px, 3vw, 36px);
  height: clamp(28px, 3vw, 36px);

  font-size: var(--font-md);

  color: var(--fg);
  background: var(--bg);

  border-radius: 8px;
}

:global(.react-flow__controls-button):hover {
  background: var(--accent);
}

/* minimap */

.nodeMinimap {
  stroke: var(--bg);
  stroke-width: 5;

  width: clamp(70px, 9vw, 130px);
  height: clamp(50px, 7vh, 90px);
}



.react-flow__resize-control {
  display: none !important;
}

/* Responsiveness */

@media (max-width: 768px) {

  .hideOnMobile {
    display: none;
  }

  .reactFlowWrapper {
    height: 85vh;
  }

  /* horizontal on mobile */
  .topRightToolbar {
    flex-direction: row;
  }

  .topRightToolbar button {
    width: 44px;
    height: 44px;
  }
}