.button {
  width: var(--themeheight);
  height: var(--themeheight);
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.icon {
  position: absolute;
  width: 35px;
  height: 35px;
  color: var(--fg);
  transition:
    transform var(--anim-slow) var(--ease-standard),
    opacity var(--anim-normal) ease;
}

.icon:hover {
  color: var(--accent);
}


.sun {
  transform: scale(1) rotate(0deg);
}

.moon {
  transform: scale(0.5) rotate(-40deg);
}

/* Visibility State*/
.visible {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.hidden {
  opacity: 0;
  transform: scale(0.3) rotate(60deg);
  pointer-events: none;
}