/* button */

.button {
  width: var(--touch-target-min);
  height: var(--touch-target-min);
  position: relative;

  display: grid;
  place-items: center;

  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;

  transition: transform var(--anim-fast) var(--ease-standard);
}


/* icon base */

.icon {
  position: absolute;
  width: var(--touch-target-min);
  height: var(--touch-target-min);
  flex: 0 0 auto;

  color: var(--fg);

  transition:
    transform var(--anim-normal) var(--ease-standard),
    opacity var(--anim-normal) ease;
}

.button svg {
  width: var(--font-md);
  height: var(--font-md);
}

.button:hover .icon {
  color: var(--accent);
  transform: translateY(-2px);
}


/* icon variants */
.sun.visible   { opacity: 1; transform: scale(1) rotate(0deg) translateY(0); }
.sun.hidden    { opacity: 0; transform: scale(0.3) rotate(0deg) translateY(0); pointer-events: none; }

.moon.visible  { opacity: 1; transform: scale(1) rotate(0deg) translateY(0); }
.moon.hidden   { opacity: 0; transform: scale(0.3) rotate(0deg) translateY(0); pointer-events: none; }

.button:hover .sun.visible  { transform: scale(1) rotate(0deg) translateY(-2px); }
.button:hover .moon.visible { transform: scale(1) rotate(0deg) translateY(-2px); }


