/* button */

.button {
  width: var(--touch-target-min);
  height: var(--touch-target-min);
  position: relative;

  display: grid;
  place-items: center;

  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
}


/* icon base */

.icon {
  position: absolute;
  width: var(--touch-target-min);
  height: var(--touch-target-min);
  flex: 0 0 auto;

  color: var(--fg);

  transition:
    transform var(--anim-slow) var(--ease-standard),
    opacity var(--anim-normal) ease;
}

.button svg {
  width: var(--font-md);
  height: var(--font-md);
}

.button:hover .icon {
  color: var(--accent);
}


/* icon variants */

.sun {
  transform: scale(1) rotate(0deg);
}

.moon {
  transform: scale(0.5) rotate(-40deg);
}


/* visibility state */

.visible {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.hidden {
  opacity: 0;
  transform: scale(0.3) rotate(60deg);
  pointer-events: none;
}
